<h1>My Account</h1>
<p>This page shows the current logged-in user.</p>

<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Role:</strong> <%= @user.admin? ? "Administrator" : "General User" %></p>

<p><%= link_to "Back to Top Page", root_path %></p>